*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 65em; /* 65em * 16 = 1040px */
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background: blue;
}